<h1>This is the user profile page</h1>
<p> Welcome <%= current_user %></p>
<br>
<br>
<%= link_to "Back to homepage", root_path %>


<div class="container mt-5 mx-auto px-2">

  <div class="md:flex">
        <div class="flex-1 text-gray-700 text-center bg-black px-5 py-5 m-2 rounded">
          <div class="lg:flex lg:items-center">
            <div class="lg:flex-shrink-0">
              <img class="rounded-lg lg:w-64" src="https://images.unsplash.com/photo-1558538449-1e5c89b6dd2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z29sZGVuJTIwcmV0cmVpdmVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60" alt="" />
            </div>
            <div class="mt-4 lg:mt-0 lg:ml-6">
              <a href="#"
                class="uppercase tracking-wide text-sm text-pink-700 font-semibold hover:underline"
              > Name: Atlas
              </a>
              <div
                class="block mt-1 text-lg leading-tight font-semibold text-white"
                >Life motto: Live, Laugh, Love Belly Rubs</div
              >
            </div>
          </div>
        </div>

  </div>

</div>
