<h1>This is our homepage woohooooo</h1>
<body class="class bg-purple-600">
  <button class="bg-pink-600 text-white font-bold rounded">Sign-up</button>

</body>

<!-- CARD COMPONENT -->
<div class="max-w-sm mx-auto flex p6 white rounded-lg shadow-xl">
  <div class="flex-shrink-0">
    <img src="https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="listing photo" class="url">
  </div>
  <div class="ml-6 pt-1"></div>
</div>
