<section class="relative bg-white">
  <img
    class="absolute inset-0 object-[75%] sm:object-[25%] object-cover w-full h-full opacity-25 sm:opacity-100"
    src="https://images.unsplash.com/photo-1529333166437-7750a6dd5a70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"
    alt="people"
  />

  <div class="hidden sm:block sm:inset-0 sm:absolute sm:bg-gradient-to-r sm:from-white sm:to-transparent"></div>

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto lg:h-screen lg:items-center lg:flex">
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl sm:text-5xl text-hotpink">
        Need a fake boyfriend?
      </h1>

      <p class="max-w-lg mt-4 sm:leading-relaxed sm:text-xl">
      Find one to rent with RentMe!
      </p>
    </div>
  </div>
</section>


<!-- CARDS COLUMNS -->

<%# <div class="container mt-5 mx-auto px-2"> %>
  <div class="grid lg:grid-cols-2 lg:flex justify-center mx-5">
    <% @categories.each do |category| %>
      <%= link_to category_path(category) do %>
        <div class="border border-transparent shadow-lg shadow-pink-200 text-center bg-white px-5 py-5 m-2 shadow-xl rounded-xl justify-between">
          <div class="container mt-4">
            <div class="lg:flex items-center">
                <div class="flex justify-center">
                  <img class="object-cover w-64 h-64 px-auto rounded shadow-2xl" src="<%= category.image_url %>"/>
                </div>
                <div class="p-5 flex-wrap">
                  <div class="mt-4 lg:mt-0 lg:ml-6">
                    <p class="flex-wrap uppercase tracking-wide font-bold text-lg text-headings"><%= category.name %></p>
                  </div>
                  <div>
                    <p class="flex-wrap inline-block mt-1 text-lg leading-tight font-normal text-gray-900"><%= category.description %></p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%# </div> %>
<br>
<br>
